* {
  font-family: Roboto;
  font-size: 12px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: transparent;
}

#workspaces {
}

#workspaces button {
  margin: 4px;
  padding: 0 12px;
  border-radius: 999px;
  font-weight: bolder;
  background-color: transparent;
  border: transparent;
  color: #fff;
}

#workspaces button.active,
#workspaces button.focused {
  color: #fff;
  padding: 0 16px;
  border-bottom: 0.4px solid #fff;
}

#tray,
#mpd,
#custom-weather,
#cpu,
#temperature,
#memory,
#sway-mode,
#backlight,
#pulseaudio,
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery,
#clock,
#network {
  padding: 0.77px 10px;
}
#memory,
#temperature,
#cpu {
  color: #fff;
  margin: 0.77px 0px;

  /* box-shadow: 7px 5px 4px 1px rgba(211, 249, 216, 0.522),
    -10px 0px 5px 1px rgba(230, 153, 247, 0.498); */
  border-radius: 999px;
}
#clock,
#battery,
#network,
#pulseaudio {
  color: #fff;
  margin: 0.77px 0px;
  /* box-shadow: 2px 3px 4.2px 1px #fff; */
  border-radius: 999px;
}
