* {
  font-family: Roboto;
  font-size: 10px;
  min-height: 0;
  padding: 0;
  margin: 0;
  color: #000;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

#workspaces {
}

#workspaces button {
  margin: 4px;
  padding: 0 12px;
  border-radius: 999px;
  font-weight: bolder;
  background-color: transparent;
  border: transparent;
}

#workspaces button.active,
#workspaces button.focused {
  padding: 0 16px;
  /* border-bottom: 0.4px solid #fff; */
}

#tray,
#mpd,
#custom-weather,
#cpu,
#temperature,
#memory,
#sway-mode,
#backlight,
#pulseaudio,
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery,
#clock,
#network {
  padding: 0.77px 10px;
}
#memory,
#temperature,
#cpu {
  margin: 0.77px 0px;
}
#clock,
#battery,
#network,
#pulseaudio {
  margin: 0.77px 0px;
}
