window {
  font-size: 16px;
  font-family: Roboto;
  background-color: rgba(33, 37, 41, 0.9);
  color: #fff;
  border-radius: 6px;
  height: 20px;
}
#entry {
  padding-left: 8px;
}
#entry:selected {
  background: linear-gradient(
    20deg,
    rgb(233, 233, 233) 40%,
    rgba(33, 37, 41, 0.9) 79%
  );
  color: #212529;
}

#text:selected {
  color: #212529;
}

#input {
  border: none;
  background-color: rgba(33, 37, 41, 0.9);
  color: #dee2e6;
}
#input:selected {
  border: none;
}
